@charset "utf-8";
/*
 * b3log index style
 *
 * @author <a href="mailto:LLY219@gmail.com">Liyuan Li</a>
 * @version 1.1.1.5, May 4, 2014
*/

/* start reset */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    color: #5b5b5b;
    margin: 0;
    font-family: '\5fae\8f6f\96c5\9ed1';
    font-size: 13px;
}

::-moz-selection {
    background: none repeat scroll 0 0 #7f4d8c;
    color: #fff;
}

::selection {
    background: none repeat scroll 0 0 #7f4d8c;
    color: #fff;
}

ul,
ol {
    margin:0;
    padding:0;
}

h1,
h2,
h3,
h4,
h5,
h6,
dl,
dd,
p {
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
}

a {
    outline: 0;
    text-decoration: none;
    color: #4183C4;
}

a:hover {
    text-decoration: underline;
}

sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

button,
input,
select,
textarea {
    margin: 0;
    font-size: 100%;
    vertical-align: middle;
    font-family: '\5fae\8f6f\96c5\9ed1';
    outline: none;
}

button,
input {
    line-height: normal;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}

input[type="search"] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

*, *:before, *:after {
    box-sizing: border-box;
}
/* end reset */

/* start function */
@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot?fcv5dm');
    src:url('fonts/icomoon.eot?#iefixfcv5dm') format('embedded-opentype'),
        url('fonts/icomoon.woff?fcv5dm') format('woff'),
        url('fonts/icomoon.ttf?fcv5dm') format('truetype'),
        url('fonts/icomoon.svg?fcv5dm#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
    content: "\e600";
}
.icon-email:before {
    content: "\f003";
}
.icon-img:before {
    content: "\f03e";
}
.icon-set:before {
    content: "\f085";
}
.icon-people:before {
    content: "\f0c0";
}
.icon-phone:before {
    content: "\e601";
}
.icon-location:before {
    content: "\e602";
}
.icon-mobile:before {
    content: "\e603";
}
.icon-wx:before {
    content: "\e605";
}
.icon-twitter:before {
    content: "\e606";
}
.icon-googleplus:before {
    content: "\e60c";
}
.icon-tencent:before {
    content: "\e60d";
}
.icon-weibo:before {
    content: "\e60e";
}

.fn-clear:before,
.fn-clear:after {
    display: table;
    content: "";
}

.fn-clear:after {
    clear: both;
}

.fn-left {
    float: left;
}

.fn-right {
    float: right;
}

.fn-none {
    display: none;
}

.ft-center {
    text-align: center;
}

section {
    background-color: #f2f2f2;
    padding: 40px 0;
    position: relative;
}

.btn {
    border-radius: 8px;
    border: 4px solid #e8e8e8;;
    font-size: 20pt;
    padding: 16px 23px;
    text-shadow: none;
    transition: all 0.3s ease 0s;
    background-color: #7f4d8c;
    color: #fff;
    font-weight: bold;
    line-height: 1.42857;
    -moz-user-select: none;
    text-decoration: none;
}

.btn:hover {
    background-color: transparent;
    color: #7f4d8c;
    text-decoration: none;
    border-color: #7f4d8c;
}
/* end function */

/* start framework */
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1170px;
}

.wrap {
    margin-top: 350px;
    background-color: #f2f2f2;
    margin-top: 350px;
    position: relative;
    width: 100%;
    z-index: 10;
}
/* end framework */

/* start header */
.header {
    background: url("../images/bg.png") repeat scroll center top #7f4d8c;
    height: 700px;
    left: 0;
    padding: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 1;
}

.header h1 {
    color: #fff;
    font-size: 62px;
    padding-top: 70px;
}

.header h2 {
    color: #c3abc9;
    font-size: 14px;
    margin-top: -25px;
}

.nav:before {
    background: url("../images/header-bottom.png") repeat-x scroll center center transparent;
    content: "";
    height: 144px;
    left: 0;
    position: absolute;
    top: -144px;
    width: 100%;
}

.nav {
    height: 76px;
    padding: 0;
}

.stuck {
    box-shadow: 0 0 10px #bfbfbf;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.nav-wrap {
    height: 76px;
}

.nav > a {
    left: 13%;
    opacity: 0;
    position: absolute;
    width: 85px;
}

.nav .nav-button > img {
    opacity: 0.5;
}

.nav li {
    padding: 20px 0;
    display: inline-block;
    list-style: none;
}

.nav li a {
    border-radius: 6px;
    color: #aeb2b3;
    display: block;
    font-size: 19pt;
    padding: 3px 12px;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    margin: 0 3px;
}

.nav li a:hover,
.nav li a.current {
    background-color: #E6E6E6;
    color: #7f4d8c;
}

.nav li a.icon-home {
    background: none;
}
/* end header */

/* start main */
.section-split {
    background: url("../images/bg-split.jpg") repeat scroll center -210px rgba(0, 0, 0, 0);
    height: 210px;
    margin-bottom: 40px;
    width: 100%;
}

.section-title {
    border-bottom: 1px solid #c4c4c4;
    letter-spacing: 8px;
    margin: 0 auto 15px;
    padding-bottom: 10px;
    text-align: center;
    color: #7f4d8c;
    font-size: 37pt;
    width: 50%;
}

.section-desc {
    margin: 0 auto 40px;
    padding: 0 15px;
    text-align: center;
    width: 50%;
}

.business-content {
    background-image: url("../images/bg-business.png");
    background-position: center 35px;
    background-repeat: no-repeat;
    min-height: 70px;
    width: 100%;
}

.business-item {
    float: left;
    text-align: center;
    width: 25%;
    padding: 2% 0;
    transition: all 0.3s ease 0s;
    margin-bottom: 40px;
}

.business-item:hover {
    background-color: rgba(220, 220, 220, 0.5);
}

.business-item i {
    background-color: #7f4d8c;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(127, 77, 140, 0.3);
    color: #fff;
    cursor: default;
    display: inline-block;
    font-size: 32pt;
    height: 90px;
    line-height: 90px;
    margin-bottom: 14px;
    overflow: hidden;
    position: relative;
    -webkit-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
    transition: background 0.3s ease 0s, color 0.3s ease 0s, box-shadow 0.3s ease 0s;
    width: 90px;
    z-index: 1;
}

.business-item i:before {
    speak: none;
    display: block;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}

.business-item i:after {
    display: none;
}

.business-item:hover i {
    background: none repeat scroll 0 0 #ffffff;
    box-shadow: 0 0 0 8px rgba(127, 77, 140, 0.8);
    color: #7f4d8c;
}

.business-item:hover i:before {
    -webkit-animation: toTopFromBottom 0.3s forwards;
    animation: 0.3s ease 0s normal forwards 1 toTopFromBottom;
}

@-webkit-keyframes toTopFromBottom {
    49% {
        -webkit-transform: translateY(-100%);
    }
    50% {
        opacity: 0;
        -webkit-transform: translateY(100%);
    }
    51% {
        opacity: 1;
    }
}
@-o-keyframes toTopFromBottom {
    49% {
        -o-transform: translateY(-100%);
    }
    50% {
        opacity: 0;
        -o-transform: translateY(100%);
    }
    51% {
        opacity: 1;
    }
}


@keyframes toTopFromBottom {
    49% {
        transform: translateY(-100%);
    }
    50% {
        opacity: 0;
        transform: translateY(100%);
    }
    51% {
        opacity: 1;
    }
}

.business-item h3 {
    font-weight: 600;
    margin: 0 auto 20px;
    width: 90%;
    color: #7f4d8c;
    font-size: 24pt;
    line-height: 30pt;
}

.business-item p {
    margin: 0 auto;
    width: 90%;
}

.about-item {
    float: left;
    width: 25%;
    padding: 0 15px;
    margin-bottom: 40px;
}

.about-item-img {
    position: relative;
    margin-bottom: 40px;
    transition: all 0.3s ease 0s;
}

.about-item-img > img {
    position: relative;
    width: 100%;
    z-index: 2;
}

.about-item-img > h2 {
    background-color: #7f4d8c;
    bottom: -4px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2) inset;
    color: #fff;
    height: 77px;
    left: 0;
    overflow: hidden;
    padding: 5px 0 0;
    position: absolute;
    transition: all 0.3s ease 0s;
    width: 100%;
    z-index: 1;
    line-height: 32pt;
    text-indent: 4%;
    font-size: 32pt;
    font-weight: 600;
    font-family: sans-serif;
    text-transform: uppercase;
}

.about-item-img > h2 span {
    display: block;
    font-size: 16pt;
    position: relative;
    top: -6px;
    width: 100%;
}

.about-item-img:hover > h2 {
    bottom: -77px;
}

.about-item-img:hover {
    margin-bottom: 94px;
}

.about-item h3 {
    color: #7f4d8c;
    font-size: 24pt;
    line-height: 24pt;
    margin-top: 50px;
    text-align: center;
}

#skills h4 {
    display: inline-block;
    margin-bottom: 14px;
    margin-left: 2%;
    width: 96%;
    color: #7f4d8c;
    font-size: 18pt;
}

#skills .progress {
    background-color: transparent;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    box-shadow: none;
    filter: none;
    height: 35px;
    margin: 0 0 6px 2%;
    position: relative;
    width: 96%;
}

#skills .progress span {
    color: #9fa3a4;
    display: block;
    left: 5px;
    position: absolute;
    top: 7px;
}

#skills .progress .bar {
    background-color: #e7e8ea;
    box-shadow: none;
    box-sizing: border-box;
    color: #9fa3a4;
    height: 100%;
    line-height: 35px;
    text-align: right;
    text-shadow: none;
    transition: all 0.5s ease 0s;
    width: 0;
}


#contacts:before {
    background-image: url("../images/bg-footer.png");
    background-position: center top;
    background-repeat: repeat-x;
    content: "";
    height: 138px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#contacts {
    background-color: #7f4d8c;
    background-image: url("../images/bg.png");
    background-position: center top;
    background-repeat: repeat;
    color: #e3e3e3;
    padding: 120px 0 40px;
}

#contacts .section-title {
    color: #FFF;
}

#contacts i {
    background-color: #fff;
    border-radius: 50%;
    color: #7f4d8c;
    display: inline-block;
    height: 22px;
    margin-right: 10px;
    padding-top: 3px;
    text-align: center !important;
    width: 22px;
}

#contacts .contacts-item {
    width: 50%;
    float: left;
    margin-top: 50px;
}
/* end main */

/* start footer */
footer {
    background-color: #7f4d8c;
    color: #fff;
    font-family: sans-serif;
    font-size: 12pt;
    padding: 25px 0;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    z-index: 10;
}

footer a {
    display: inline-block;
    height: 32px;
    margin: 15px 8px 0 0;
    overflow: hidden;
    width: 30px;
}

footer a:hover {
    text-decoration: none;
}

footer i {
    background-color: #ccb8d1;
    border-radius: 5px;
    color: #7f4d8c;
    cursor: pointer;
    display: block;
    padding: 8px 5px;
    position: relative;
    top: 0;
    transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1) 0s;
}

footer a:hover i {
    top: -42px;
}

footer i.gray {
    background-color: #FFF;
    color: #7f4d8c;
    margin-top: 10px;
}
/* end footer */

@media (max-width: 1000px) {
    .nav .nav-button > img {
        display: none;
    }

    #skills {
        width: 100%;
    }
}

@media (max-width: 630px) {
    .header h1 > img {
        display: block;
        margin: 0 auto;
    }

    .header h1 {
        font-size: 13px;
    }

    .header h2 {
        margin-top: 5px;
    }

    .nav-wrap {
        height: 112px;
    }

    .nav > a {
        margin-top: 20px;
        opacity: 1;
    }

    .nav .nav-button > img {
        display: block;
    }

    .nav > .container {
        background-color: #FFF;
        padding: 0;
    }

    .nav li {
        padding: 0;
        width: 100%;
        display: block;
        text-align: right;
    }

    .nav li a {
        margin: 0;
        border-radius: 0;
        font-size: 16px;
    }

    .nav li a.icon-home {
        display: none;
    }

    .section-desc,
    .section-title,
    .about-item {
        width: 100%;
    }

    .business-item {
        width: 100%;
        padding: 5% 0;
    }

    .business-content {
        background-image: none;
    }

    #contacts .contacts-item {
        float: none;
        margin-top: 10px;
        width: auto;
    }
}